.course-details {
  width: 90%;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.heading {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.course-info {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.course-title {
  margin: 0;
  color: #333;
}

.course-text {
  font-size: 18px;
  margin: 10px 0;
  color: #666;
}

.syllabus {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



.syllabus-title {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.link-button {
  display: inline-block;
  margin-left: 10px;
  width: 270px;
  height: 30px;
  background-color: #083863;
  color: #f7f7f7;
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  border-radius: 5px;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .course-details {
    padding: 10px;
  }
  .details-container {
    flex-direction: column;
  }
  .course-info,
  .syllabus {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
